# Pandas 라이브러리
- 파이썬에서 데이터 분석을 위한 가장 강력하고 인기 있는 라이브러리
- 테이블 형태의 데이터를 효율적으로 처리하고 EDA 등 데이터를 분석하는 데 탁월한 기능을 제공
- 엑셀 파일, CSV 파일 등 다양한 형식의 데이터를 읽어 들여 분석하고 가공하는 작업을 매우 편리하게 수행

## 탐색적 데이터 분석 (Exploratory Data Analysis, EDA) 이란?
- 데이터의 기본적인 통계량과 시각화를 통해 데이터의 특징을 파악하고, 데이터 속에 숨겨진 패턴이나 이상치를 찾아내는 과정
- 마치 미지의 땅을 탐험하듯 데이터를 탐구하며, 데이터에 대한 이해를 높이고 효과적인 모델링을 위한 기반을 마련하는 중요한 단계

### EDA의 중요성
- 데이터 이해
    - 데이터의 분포, 중심 경향, 변동성 등을 파악하여 데이터의 특성을 정확하게 이해
- 데이터 정제
    - 이상치, 결측치 등의 문제를 발견하고 처리하여 데이터의 품질을 높일 수 있음
- 모델링 기반 마련
    - 데이터의 특성을 바탕으로 적절한 모델을 선택하고, 변수 간의 관계를 파악하여 모델의 성능을 향상
- 가설 설정
    - 데이터를 탐색하는 과정에서 새로운 가설을 설정

### EDA 과정에서 하는 주요 활동
- 데이터 요약
    - 평균, 중앙값, 표준편차 등의 기본적인 통계량을 계산하여 데이터를 요약
- 데이터 시각화
    - 히스토그램, 산점도, 박스플롯 등 다양한 시각화 기법을 활용하여 데이터의 분포, 상관관계 등을 시각적으로 확인
- 변수 간의 관계 분석
    - 상관관계 분석 등을 통해 변수 간의 관계를 파악
- 이상치 탐색
    - 이상치를 발견하고 처리하여 데이터의 정확성을 높임
- 결측치 처리
    - 결측치를 처리하는 다양한 방법을 적용하여 데이터의 완전성을 확보

### EDA에 사용되는 도구
- Pandas, NumPy, Matplotlib, Seaborn 등 다양한 라이브러리를 활용하여 효율적으로 EDA를 수행

## Pandas 주요 특징
- numpy 를 내부적으로 활용
    - numpy에서 제공되는 기능들을 그대로 사용할 수 있음
- 많은 양의 데이터를 읽어드려 분석하는데 최적화
- 데이터 분석에 특화된 데이터 구조를 제공
- 다양한 데이터 분석 함수를 제공
- 다른 시스템이나 라이브러리에 쉽게 연결(데이터베이스, 머신러닝라이브러리 등)

## Pandas의 주요 기능
- 데이터 입출력
    - 다양한 형식의 데이터(CSV, Excel, SQL 등)를 읽고 쓰는 기능을 제공
- 데이터 선택 및 필터링
    - 원하는 데이터를 선택하고 필터링하는 기능을 제공
- 데이터 정렬
    - 데이터를 특정 기준으로 정렬하는 기능을 제공.
- 데이터 결합
    - 여러 개의 데이터를 합치는 기능을 제공
- 그룹화 및 집계
    - 데이터를 그룹으로 나누어 각 그룹별로 통계 정보를 계산하는 기능을 제공
- 누락값 처리
    - 데이터에 포함된 누락값을 처리하는 다양한 방법을 제공

## Pandas를 사용하는 이유
- 데이터 분석의 효율성
    - 복잡한 데이터 분석 작업을 간결하고 효율적으로 수행
- 다양한 데이터 형식 지원
    - 다양한 형식의 데이터를 쉽게 처리
- 풍부한 기능
    - 데이터 분석에 필요한 다양한 기능을 제공
- 활발한 커뮤니티
    - 많은 사용자와 개발자가 활동하는 커뮤니티가 있어 문제 해결이나 새로운 기능 학습이 용이

# pandas의 데이터 구조(자료구조)
- DataFrame
    - 2차원 테이블 형태의 데이터를 나타내며, 행과 열로 구성
    - 각 열은 서로 다른 데이터 타입을 가질 수 있으며, 각 행은 특정 관측값을 의미
- Series:
    - 1차원 배열과 유사하며, 1차원 구조로 되어있는 한 종류의 데이터
    - 열 데이터

In [ ]:
# pip install pandas

### list로 dataframe 만들기

In [ ]:
import pandas as pd

In [ ]:
data = [
    ['A군', 30, 170],
    ['B군', 25, 180]

]

df = pd.DataFrame(data)
df

    0   1    2
0  A군  30  170
1  B군  25  180

In [ ]:
df = pd.DataFrame(data, columns=['이름','나 이','키'])
df

   이름  나 이    키
0  A군   30  170
1  B군   25  180

In [ ]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
 df['키']

0    170
1    180
Name: 키, dtype: int64

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data_path = '/content/drive/MyDrive/data_lion/'
import numpy as np
arr = np.load(f'{data_path}samsung_stock_2021 (1).npy')


pd.DataFrame(arr, columns=['시가','고가','저가','종가'])

        시가     고가     저가     종가
0    81000  84400  80200  83000
1    81600  83900  81600  83900
2    83300  84500  82100  82200
3    82800  84200  82700  82900
4    83300  90000  83000  88800
..     ...    ...    ...    ...
243  80200  80800  80200  80500
244  80600  80600  79800  80200
245  80200  80400  79700  80300
246  80200  80200  78500  78800
247  78900  79500  78100  78300

[248 rows x 4 columns]

In [ ]:
data = [
    '이름':['A군','B군'],
    '나이':[],
    '키

]

df = pd.DataFrame(data)
df
# 딕셔너리로도 만들수 있단ㄴ걸 알려주고 싶었음

# CSV 파일 불러오기
- CSV 파일이란?
    - CSV는 Comma-Separated Values의 약자로, 쉼표(,)로 값을 구분하여 텍스트 형식으로 데이터를 저장하는 파일 형식
    - 마치 엑셀 파일처럼 행과 열로 구성된 표 형태의 데이터를 간단하게 저장하고 공유할 수 있기 때문에 매우 널리 사용
    - 불필요한 서식 정보가 없어 엑셀 파일과는 다르게 데이터와는 무관한 정보를 포함하지 않음
    - 엑셀 파일을 데이터프레임으로 불러올 수 있지만 보통 데이터 수집후 csv 파일로 저장

- 타이타닉 데이터셋 링크
    - https://drive.google.com/file/d/1aMh6jdtMq4RmHP-BFujZtIjvv29hxVN9/view?usp=sharing

## read_csv 함수
- csv 파일 읽어서 dataframe 객체로 반환

In [ ]:
df = pd.read_csv(f'{data_path}titanic_train.csv')
df

,passengerid,survived,pclass,name,gender,age,sibsp,parch,ticket,fare,cabin,embarked
0,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C
1,462,0,3,"Morley, Mr. William",male,34.0,0,0,364506,8.0500,NaN,S
2,1286,0,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,NaN,S
3,1130,1,2,"Hiltunen, Miss. Marta",female,18.0,1,1,250650,13.0000,NaN,S
4,461,1,1,"Anderson, Mr. Harry",male,48.0,0,0,19952,26.5500,E12,S
...,...,...,...,...,...,...,...,...,...,...,...,...
911,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C
912,518,0,3,"Ryan, Mr. Patrick",male,NaN,0,0,371110,24.1500,NaN,Q
913,664,0,3,"Coleff, Mr. Peju",male,36.0,0,0,349210,7.4958,NaN,S
914,109,0,3,"Rekic, Mr. Tido",male,38.0,0,0,349249,7.8958,NaN,S
915,146,0,2,"Nicholls, Mr. Joseph Charles",male,19.0,1,1,C.A. 33112,36.7500,NaN,S

## `to_csv` 메서드
- dataframe을 csv 파일로 저장하기

In [ ]:
df.to_csv('titanic2.csv', index=False)
## csv로 저장할때는 index=False 꼭 붙여준다
## 인덱스 떼주는 거

## 데이터 프레임 기초정보 확인하기

In [ ]:
# column명만 확인
df.columns

Index(['passengerid', 'survived', 'pclass', 'name', 'gender', 'age', 'sibsp',
       'parch', 'ticket', 'fare', 'cabin', 'embarked'],
      dtype='object')

In [ ]:
for col in df.columns:
    if col == 'passengerId':
        col = 'id'
    print(col)
## 쓸 일은 없다.

passengerid
survived
pclass
name
gender
age
sibsp
parch
ticket
fare
cabin
embarked

In [ ]:
# 리스트로 바꾸기 -> tolist
df.columns.tolist()

['passengerid',
 'survived',
 'pclass',
 'name',
 'gender',
 'age',
 'sibsp',
 'parch',
 'ticket',
 'fare',
 'cabin',
 'embarked']

In [ ]:
# 데이터 프레임 정보 확인하기
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 916 entries, 0 to 915
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   passengerid  916 non-null    int64
 1   survived     916 non-null    int64
 2   pclass       916 non-null    int64
 3   name         916 non-null    object
 4   gender       916 non-null    object
 5   age          736 non-null    float64
 6   sibsp        916 non-null    int64
 7   parch        916 non-null    int64
 8   ticket       916 non-null    object
 9   fare         916 non-null    float64
 10  cabin        210 non-null    object
 11  embarked     916 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 86.0+ KB

In [ ]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 916 entries, 0 to 915
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   passengerid  916 non-null    int64
 1   survived     916 non-null    int64
 2   pclass       916 non-null    int64
 3   name         916 non-null    object
 4   gender       916 non-null    object
 5   age          736 non-null    float64
 6   sibsp        916 non-null    int64
 7   parch        916 non-null    int64
 8   ticket       916 non-null    object
 9   fare         916 non-null    float64
 10  cabin        210 non-null    object
 11  embarked     916 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 86.0+ KB

In [ ]:
df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 916 entries, 0 to 915
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   passengerid  916 non-null    int64
 1   survived     916 non-null    int64
 2   pclass       916 non-null    int64
 3   name         916 non-null    object
 4   gender       916 non-null    object
 5   age          736 non-null    float64
 6   sibsp        916 non-null    int64
 7   parch        916 non-null    int64
 8   ticket       916 non-null    object
 9   fare         916 non-null    float64
 10  cabin        210 non-null    object
 11  embarked     916 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 86.0+ KB

In [ ]:
df.shape

(916, 12)

In [ ]:
df.head()

,passengerid,survived,pclass,name,gender,age,sibsp,parch,ticket,fare,cabin,embarked
0,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C
1,462,0,3,"Morley, Mr. William",male,34.0,0,0,364506,8.0500,NaN,S
2,1286,0,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,NaN,S
3,1130,1,2,"Hiltunen, Miss. Marta",female,18.0,1,1,250650,13.0000,NaN,S
4,461,1,1,"Anderson, Mr. Harry",male,48.0,0,0,19952,26.5500,E12,S

# 데이터프레임 다루기

## `copy` 메서드
- 데이터프레임 복사
- 기본적으로 깊은 복사

In [ ]:
df_cp=df.copy()
df_cp

,passengerid,survived,pclass,name,gender,age,sibsp,parch,ticket,fare,cabin,embarked
0,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C
1,462,0,3,"Morley, Mr. William",male,34.0,0,0,364506,8.0500,NaN,S
2,1286,0,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,NaN,S
3,1130,1,2,"Hiltunen, Miss. Marta",female,18.0,1,1,250650,13.0000,NaN,S
4,461,1,1,"Anderson, Mr. Harry",male,48.0,0,0,19952,26.5500,E12,S
...,...,...,...,...,...,...,...,...,...,...,...,...
911,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C
912,518,0,3,"Ryan, Mr. Patrick",male,NaN,0,0,371110,24.1500,NaN,Q
913,664,0,3,"Coleff, Mr. Peju",male,36.0,0,0,349210,7.4958,NaN,S
914,109,0,3,"Rekic, Mr. Tido",male,38.0,0,0,349249,7.8958,NaN,S
915,146,0,2,"Nicholls, Mr. Joseph Charles",male,19.0,1,1,C.A. 33112,36.7500,NaN,S

## 컬럼명 변경

In [ ]:
cols = ['id','생존','객실등급','이름','성별','나이','형제자매_배우자수','부모_자녀수',
        '티켓번호','운임료','객실번호','탑승항구']
df_cp.columns = cols
df_cp.head()

,id,생존,객실등급,이름,성별,나이,형제자매_배우자수,부모_자녀수,티켓번호,운임료,객실번호,탑승항구
0,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C
1,462,0,3,"Morley, Mr. William",male,34.0,0,0,364506,8.0500,NaN,S
2,1286,0,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,NaN,S
3,1130,1,2,"Hiltunen, Miss. Marta",female,18.0,1,1,250650,13.0000,NaN,S
4,461,1,1,"Anderson, Mr. Harry",male,48.0,0,0,19952,26.5500,E12,S

In [ ]:
df_cp.columns

## `rename` 메서드
- 지정한 컬럼명들을 변경할수있다.
- 딕셔너리 형태로 전달하면 된다.
- key 는 변경 전 열이름, value는 변경 후 열이름

In [ ]:
# 영어 아이디를 한글 아이디로 바꾸고 싶다
df_cp = df_cp.rename(columns={'id':'아이디'})
df_cp.head()

,아이디,생존,객실등급,이름,성별,나이,형제자매_배우자수,부모_자녀수,티켓번호,운임료,객실번호,탑승항구
0,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C
1,462,0,3,"Morley, Mr. William",male,34.0,0,0,364506,8.0500,NaN,S
2,1286,0,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,NaN,S
3,1130,1,2,"Hiltunen, Miss. Marta",female,18.0,1,1,250650,13.0000,NaN,S
4,461,1,1,"Anderson, Mr. Harry",male,48.0,0,0,19952,26.5500,E12,S

In [ ]:
# df_cp.rename(columns={'생존':'생존여부'}, inplace=True)

## 확인도 안하고 바로 넣어버리는 코드
## 사요하지 않았으면 한다

In [ ]:
df

## `add_prefix` 메서드
- 컬럼명 앞부분에 공통된 문자열 붙혀주기

In [ ]:
df.add_prefix('pre_')

,pre_passengerid,pre_survived,pre_pclass,pre_name,pre_gender,pre_age,pre_sibsp,pre_parch,pre_ticket,pre_fare,pre_cabin,pre_embarked
0,494,0,1,"Artagaveytia, Mr. Ramon",NaN,71.0,0,0,PC 17609,49.5042,NaN,C
1,462,0,3,"Morley, Mr. William",NaN,34.0,0,0,364506,8.0500,NaN,S
2,1286,0,3,"Kink-Heilmann, Mr. Anton",NaN,29.0,3,1,315153,22.0250,NaN,S
3,1130,1,2,"Hiltunen, Miss. Marta",NaN,18.0,1,1,250650,13.0000,NaN,S
4,461,1,1,"Anderson, Mr. Harry",NaN,48.0,0,0,19952,26.5500,E12,S
...,...,...,...,...,...,...,...,...,...,...,...,...
911,738,1,1,"Lesurer, Mr. Gustave J",NaN,35.0,0,0,PC 17755,512.3292,B101,C
912,518,0,3,"Ryan, Mr. Patrick",NaN,NaN,0,0,371110,24.1500,NaN,Q
913,664,0,3,"Coleff, Mr. Peju",NaN,36.0,0,0,349210,7.4958,NaN,S
914,109,0,3,"Rekic, Mr. Tido",NaN,38.0,0,0,349249,7.8958,NaN,S
915,146,0,2,"Nicholls, Mr. Joseph Charles",NaN,19.0,1,1,C.A. 33112,36.7500,NaN,S

## 특정 컬럼들 선택하기

In [ ]:
cols = ['age','gender','name']
# 3개 column을 선택하겠다.
df[cols]
# 시리즈가 아니라 dataframe으로 반환된다

      age  gender                          name
0    71.0    male       Artagaveytia, Mr. Ramon
1    34.0    male           Morley, Mr. William
2    29.0    male      Kink-Heilmann, Mr. Anton
3    18.0  female         Hiltunen, Miss. Marta
4    48.0    male           Anderson, Mr. Harry
..    ...     ...                           ...
911  35.0    male        Lesurer, Mr. Gustave J
912   NaN    male             Ryan, Mr. Patrick
913  36.0    male              Coleff, Mr. Peju
914  38.0    male               Rekic, Mr. Tido
915  19.0    male  Nicholls, Mr. Joseph Charles

[916 rows x 3 columns]

In [ ]:
target = df['survived']
target
# 정답 target은 따로 빼둔다

0      0
1      0
2      0
3      1
4      1
      ..
911    1
912    0
913    0
914    0
915    0
Name: survived, Length: 916, dtype: int64

In [ ]:
# 하나의 컬럼을 시리즈가 아니라 데이터프레임으로 반환하고 싶어
df[['age']]
## []ㅇ란에 다시 넣어줘
## 2차원 형태로 바꿔주고 넣어줘야 한다.

      age
0    71.0
1    34.0
2    29.0
3    18.0
4    48.0
..    ...
911  35.0
912   NaN
913  36.0
914  38.0
915  19.0

[916 rows x 1 columns]

## `add_suffix` 메서드
- 컬럼명 뒷부분에 공통된 문자열 붙혀주기

In [ ]:
df.add_suffix("_suf")

,passengerid_suf,survived_suf,pclass_suf,name_suf,gender_suf,age_suf,sibsp_suf,parch_suf,ticket_suf,fare_suf,cabin_suf,embarked_suf
0,494,0,1,"Artagaveytia, Mr. Ramon",NaN,71.0,0,0,PC 17609,49.5042,NaN,C
1,462,0,3,"Morley, Mr. William",NaN,34.0,0,0,364506,8.0500,NaN,S
2,1286,0,3,"Kink-Heilmann, Mr. Anton",NaN,29.0,3,1,315153,22.0250,NaN,S
3,1130,1,2,"Hiltunen, Miss. Marta",NaN,18.0,1,1,250650,13.0000,NaN,S
4,461,1,1,"Anderson, Mr. Harry",NaN,48.0,0,0,19952,26.5500,E12,S
...,...,...,...,...,...,...,...,...,...,...,...,...
911,738,1,1,"Lesurer, Mr. Gustave J",NaN,35.0,0,0,PC 17755,512.3292,B101,C
912,518,0,3,"Ryan, Mr. Patrick",NaN,NaN,0,0,371110,24.1500,NaN,Q
913,664,0,3,"Coleff, Mr. Peju",NaN,36.0,0,0,349210,7.4958,NaN,S
914,109,0,3,"Rekic, Mr. Tido",NaN,38.0,0,0,349249,7.8958,NaN,S
915,146,0,2,"Nicholls, Mr. Joseph Charles",NaN,19.0,1,1,C.A. 33112,36.7500,NaN,S

## 컬럼 삭제하기

In [ ]:
df.drop('name', axis=1) #열방향

,passengerid,survived,pclass,gender,age,sibsp,parch,ticket,fare,cabin,embarked
0,494,0,1,NaN,71.0,0,0,PC 17609,49.5042,NaN,C
1,462,0,3,NaN,34.0,0,0,364506,8.0500,NaN,S
2,1286,0,3,NaN,29.0,3,1,315153,22.0250,NaN,S
3,1130,1,2,NaN,18.0,1,1,250650,13.0000,NaN,S
4,461,1,1,NaN,48.0,0,0,19952,26.5500,E12,S
...,...,...,...,...,...,...,...,...,...,...,...
911,738,1,1,NaN,35.0,0,0,PC 17755,512.3292,B101,C
912,518,0,3,NaN,NaN,0,0,371110,24.1500,NaN,Q
913,664,0,3,NaN,36.0,0,0,349210,7.4958,NaN,S
914,109,0,3,NaN,38.0,0,0,349249,7.8958,NaN,S
915,146,0,2,NaN,19.0,1,1,C.A. 33112,36.7500,NaN,S

In [ ]:
df.drop(columns=['name','pclass'])

,passengerid,survived,gender,age,sibsp,parch,ticket,fare,cabin,embarked
0,494,0,male,71.0,0,0,PC 17609,49.5042,NaN,C
1,462,0,male,34.0,0,0,364506,8.0500,NaN,S
2,1286,0,male,29.0,3,1,315153,22.0250,NaN,S
3,1130,1,female,18.0,1,1,250650,13.0000,NaN,S
4,461,1,male,48.0,0,0,19952,26.5500,E12,S
...,...,...,...,...,...,...,...,...,...,...
911,738,1,male,35.0,0,0,PC 17755,512.3292,B101,C
912,518,0,male,NaN,0,0,371110,24.1500,NaN,Q
913,664,0,male,36.0,0,0,349210,7.4958,NaN,S
914,109,0,male,38.0,0,0,349249,7.8958,NaN,S
915,146,0,male,19.0,1,1,C.A. 33112,36.7500,NaN,S

In [ ]:
# 행을 삭제하는 경우
df.drop(3, axis=0)

# 그런데 행을 삭제하지는 않아
# 모든 경우가 결측치일때만 사용

,passengerid,survived,pclass,name,gender,age,sibsp,parch,ticket,fare,cabin,embarked
0,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C
1,462,0,3,"Morley, Mr. William",male,34.0,0,0,364506,8.0500,NaN,S
2,1286,0,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,NaN,S
4,461,1,1,"Anderson, Mr. Harry",male,48.0,0,0,19952,26.5500,E12,S
5,952,0,3,"Dika, Mr. Mirko",male,17.0,0,0,349232,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
911,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C
912,518,0,3,"Ryan, Mr. Patrick",male,NaN,0,0,371110,24.1500,NaN,Q
913,664,0,3,"Coleff, Mr. Peju",male,36.0,0,0,349210,7.4958,NaN,S
914,109,0,3,"Rekic, Mr. Tido",male,38.0,0,0,349249,7.8958,NaN,S
915,146,0,2,"Nicholls, Mr. Joseph Charles",male,19.0,1,1,C.A. 33112,36.7500,NaN,S

## 컬럼 추가하기

In [ ]:
df["target"] = target
df.head()

,passengerid,survived,pclass,name,gender,age,sibsp,parch,ticket,fare,cabin,embarked,target
0,494,0,1,"Artagaveytia, Mr. Ramon",NaN,71.0,0,0,PC 17609,49.5042,NaN,C,0
1,462,0,3,"Morley, Mr. William",NaN,34.0,0,0,364506,8.0500,NaN,S,0
2,1286,0,3,"Kink-Heilmann, Mr. Anton",NaN,29.0,3,1,315153,22.0250,NaN,S,0
3,1130,1,2,"Hiltunen, Miss. Marta",NaN,18.0,1,1,250650,13.0000,NaN,S,1
4,461,1,1,"Anderson, Mr. Harry",NaN,48.0,0,0,19952,26.5500,E12,S,1

## `sort_values` 메서드
- 컬럼을 기준으로 데이터 정렬하기
    - 기본은 오름차순

In [ ]:
df.sort_values("age")

,passengerid,survived,pclass,name,gender,age,sibsp,parch,ticket,fare,cabin,embarked,target
852,1246,1,3,"Dean, Miss. Elizabeth Gladys Millvina""""",NaN,0.17,1,2,C.A. 2315,20.5750,NaN,S,1
480,756,1,2,"Hamalainen, Master. Viljo",NaN,0.67,1,1,250649,14.5000,NaN,S,1
289,470,1,3,"Baclini, Miss. Helene Barbara",NaN,0.75,2,1,2666,19.2583,NaN,C,1
41,1173,0,3,"Peacock, Master. Alfred Edward",NaN,0.75,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S,0
587,79,1,2,"Caldwell, Master. Alden Gates",NaN,0.83,0,2,248738,29.0000,NaN,S,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
881,508,1,1,"Bradley, Mr. George (""George Arthur Brayton"")",NaN,NaN,0,0,111427,26.5500,NaN,S,1
893,668,0,3,"Rommetvedt, Mr. Knud Paust",NaN,NaN,0,0,312993,7.7750,NaN,S,0
895,66,1,3,"Moubarek, Master. Gerios",NaN,NaN,1,1,2661,15.2458,NaN,C,1
897,458,1,1,"Kenyon, Mrs. Frederick R (Marion)",NaN,NaN,1,0,17464,51.8625,D21,S,1
912,518,0,3,"Ryan, Mr. Patrick",NaN,NaN,0,0,371110,24.1500,NaN,Q,0

In [ ]:
df.sort_values('age', ascending=False) #내림차순

,passengerid,survived,pclass,name,gender,age,sibsp,parch,ticket,fare,cabin,embarked
694,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,S
729,988,1,1,"Cavendish, Mrs. Tyrell William (Julia Florence...",female,76.0,1,0,19877,78.8500,C46,S
375,852,0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S
0,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C
22,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
...,...,...,...,...,...,...,...,...,...,...,...,...
881,508,1,1,"Bradley, Mr. George (""George Arthur Brayton"")",male,NaN,0,0,111427,26.5500,NaN,S
893,668,0,3,"Rommetvedt, Mr. Knud Paust",male,NaN,0,0,312993,7.7750,NaN,S
895,66,1,3,"Moubarek, Master. Gerios",male,NaN,1,1,2661,15.2458,NaN,C
897,458,1,1,"Kenyon, Mrs. Frederick R (Marion)",female,NaN,1,0,17464,51.8625,D21,S
912,518,0,3,"Ryan, Mr. Patrick",male,NaN,0,0,371110,24.1500,NaN,Q

## `sample` 메서드
- 샘플링 기능
- 주요 파라미터
  - n : 반환할 샘플수
  - frac : 반환할 샘플 비율
  - replce
    - True : 복원 추출
    - False : 비복원 추출(기본값)

In [ ]:
df.sample(5)

,passengerid,survived,pclass,name,gender,age,sibsp,parch,ticket,fare,cabin,embarked
772,446,1,1,"Dodge, Master. Washington",male,4.0,0,2,33638,81.8583,A34,S
683,385,0,3,"Plotcharsky, Mr. Vasil",male,NaN,0,0,349227,7.8958,NaN,S
270,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.0,1,0,2651,11.2417,NaN,C
54,499,0,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0,1,2,113781,151.5500,C22 C26,S
623,601,1,2,"Jacobsohn, Mrs. Sidney Samuel (Amy Frances Chr...",female,24.0,2,1,243847,27.0000,NaN,S

In [ ]:
df.sample(frac=0.5, random_state=42) # shuffle 한 것과 같음

,passengerid,survived,pclass,name,gender,age,sibsp,parch,ticket,fare,cabin,embarked
380,78,0,3,"Moutal, Mr. Rahamin Haim",male,NaN,0,0,374746,8.0500,NaN,S
879,274,0,1,"Natsch, Mr. Charles H",male,37.0,0,1,PC 17596,29.7000,C118,C
355,782,1,1,"Dick, Mrs. Albert Adrian (Vera Gillespie)",female,17.0,1,0,17474,57.0000,B20,S
357,956,0,1,"Ryerson, Master. John Borie",male,13.0,2,2,PC 17608,262.3750,B57 B59 B63 B66,C
362,1234,0,3,"Sage, Mr. John George",male,NaN,1,9,CA. 2343,69.5500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
153,614,0,3,"Horgan, Mr. John",male,NaN,0,0,370377,7.7500,NaN,Q
75,537,0,1,"Butt, Major. Archibald Willingham",male,45.0,0,0,113050,26.5500,B38,S
450,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
670,1000,0,3,"Willer, Mr. Aaron (Abi Weller"")""",male,NaN,0,0,3410,8.7125,NaN,S
837,904,1,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,1,0,21228,82.2667,B45,S

In [ ]:
df.sample(frac=1, random_state=42)

,passengerid,survived,pclass,name,gender,age,sibsp,parch,ticket,fare,cabin,embarked
380,78,0,3,"Moutal, Mr. Rahamin Haim",male,NaN,0,0,374746,8.0500,NaN,S
879,274,0,1,"Natsch, Mr. Charles H",male,37.0,0,1,PC 17596,29.7000,C118,C
355,782,1,1,"Dick, Mrs. Albert Adrian (Vera Gillespie)",female,17.0,1,0,17474,57.0000,B20,S
357,956,0,1,"Ryerson, Master. John Borie",male,13.0,2,2,PC 17608,262.3750,B57 B59 B63 B66,C
362,1234,0,3,"Sage, Mr. John George",male,NaN,1,9,CA. 2343,69.5500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
106,1249,0,3,"Lockyer, Mr. Edward",male,NaN,0,0,1222,7.8792,NaN,S
270,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.0,1,0,2651,11.2417,NaN,C
860,1114,1,2,"Cook, Mrs. (Selena Rogers)",female,22.0,0,0,W./C. 14266,10.5000,F33,S
435,86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",female,33.0,3,0,3101278,15.8500,NaN,S
102,235,0,2,"Leyson, Mr. Robert William Norman",male,24.0,0,0,C.A. 29566,10.5000,NaN,S

# 행 열 다루기
- 데이터프레임에는 행에대한 이름을 index 라고하고, 열에대한 이름을 column 이라 한다.
- DataFrame도 numpy 기반으로 돌아가기 때문에 행번호, 열번호 가 있다.

In [ ]:
arr = np.arange(12).reshape(3,4)
arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [ ]:
arr[:,:]

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

## `iloc`
- 행번호 , 열번호 를 이용한 슬라이싱

In [ ]:
df2 = df.sample(frac=1,random_state=42)
df2.head()

,passengerid,survived,pclass,name,gender,age,sibsp,parch,ticket,fare,cabin,embarked,target
380,78,0,3,"Moutal, Mr. Rahamin Haim",NaN,NaN,0,0,374746,8.050,NaN,S,0
879,274,0,1,"Natsch, Mr. Charles H",NaN,37.0,0,1,PC 17596,29.700,C118,C,0
355,782,1,1,"Dick, Mrs. Albert Adrian (Vera Gillespie)",NaN,17.0,1,0,17474,57.000,B20,S,1
357,956,0,1,"Ryerson, Master. John Borie",NaN,13.0,2,2,PC 17608,262.375,B57 B59 B63 B66,C,0
362,1234,0,3,"Sage, Mr. John George",NaN,NaN,1,9,CA. 2343,69.550,NaN,S,0

In [ ]:
df2.iloc[:3]

,passengerid,survived,pclass,name,gender,age,sibsp,parch,ticket,fare,cabin,embarked,target
380,78,0,3,"Moutal, Mr. Rahamin Haim",NaN,NaN,0,0,374746,8.05,NaN,S,0
879,274,0,1,"Natsch, Mr. Charles H",NaN,37.0,0,1,PC 17596,29.70,C118,C,0
355,782,1,1,"Dick, Mrs. Albert Adrian (Vera Gillespie)",NaN,17.0,1,0,17474,57.00,B20,S,1

In [ ]:
df2.iloc[1:5, 1:6]

     survived  pclass                                       name  gender   age
879         0       1                      Natsch, Mr. Charles H     NaN  37.0
355         1       1  Dick, Mrs. Albert Adrian (Vera Gillespie)     NaN  17.0
357         0       1                Ryerson, Master. John Borie     NaN  13.0
362         0       3                      Sage, Mr. John George     NaN   NaN

In [ ]:
num_rows = [1,3]
num_cols = [0,4,5]
df2.iloc[num_rows, num_cols]

     passengerid  gender   age
879          274     NaN  37.0
357          956     NaN  13.0

In [ ]:
mask = np.full(11,True)
mask[-1] = False
mask

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False])

In [ ]:
df2.iloc[num_rows, mask]

IndexError: Boolean index has wrong length: 11 instead of 13

## `loc`
- index 명 과 column명 이용한  슬라이싱
- 마스킹을 이용한 행과 열 선택이 가능

In [ ]:
df.loc[:3] # end 값까지 포함됨

,passengerid,survived,pclass,name,gender,age,sibsp,parch,ticket,fare,cabin,embarked,target
0,494,0,1,"Artagaveytia, Mr. Ramon",NaN,71.0,0,0,PC 17609,49.5042,NaN,C,0
1,462,0,3,"Morley, Mr. William",NaN,34.0,0,0,364506,8.0500,NaN,S,0
2,1286,0,3,"Kink-Heilmann, Mr. Anton",NaN,29.0,3,1,315153,22.0250,NaN,S,0
3,1130,1,2,"Hiltunen, Miss. Marta",NaN,18.0,1,1,250650,13.0000,NaN,S,1

In [ ]:
cols = ["name", "age", "parch"]
df.loc[:, cols]

                             name   age  parch
0         Artagaveytia, Mr. Ramon  71.0      0
1             Morley, Mr. William  34.0      0
2        Kink-Heilmann, Mr. Anton  29.0      1
3           Hiltunen, Miss. Marta  18.0      1
4             Anderson, Mr. Harry  48.0      0
..                            ...   ...    ...
911        Lesurer, Mr. Gustave J  35.0      0
912             Ryan, Mr. Patrick   NaN      0
913              Coleff, Mr. Peju  36.0      0
914               Rekic, Mr. Tido  38.0      0
915  Nicholls, Mr. Joseph Charles  19.0      1

[916 rows x 3 columns]

In [ ]:
df[cols]

                             name   age  parch
0         Artagaveytia, Mr. Ramon  71.0      0
1             Morley, Mr. William  34.0      0
2        Kink-Heilmann, Mr. Anton  29.0      1
3           Hiltunen, Miss. Marta  18.0      1
4             Anderson, Mr. Harry  48.0      0
..                            ...   ...    ...
911        Lesurer, Mr. Gustave J  35.0      0
912             Ryan, Mr. Patrick   NaN      0
913              Coleff, Mr. Peju  36.0      0
914               Rekic, Mr. Tido  38.0      0
915  Nicholls, Mr. Joseph Charles  19.0      1

[916 rows x 3 columns]

## 마스킹

In [ ]:
mask = df["target"] == 1
df.loc[mask]

,passengerid,survived,pclass,name,gender,age,sibsp,parch,ticket,fare,cabin,embarked,target
3,1130,1,2,"Hiltunen, Miss. Marta",NaN,18.0,1,1,250650,13.0000,NaN,S,1
4,461,1,1,"Anderson, Mr. Harry",NaN,48.0,0,0,19952,26.5500,E12,S,1
7,331,1,3,"McCoy, Miss. Agnes",NaN,NaN,2,0,367226,23.2500,NaN,Q,1
11,18,1,2,"Williams, Mr. Charles Eugene",NaN,NaN,0,0,244373,13.0000,NaN,S,1
13,802,1,2,"Collyer, Mrs. Harvey (Charlotte Annie Tate)",NaN,31.0,1,1,C.A. 31921,26.2500,NaN,S,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
905,982,1,3,"Dyker, Mrs. Adolf Fredrik (Anna Elisabeth Judi...",NaN,22.0,1,0,347072,13.9000,NaN,S,1
906,339,1,3,"Dahl, Mr. Karl Edwart",NaN,45.0,0,0,7598,8.0500,NaN,S,1
907,225,1,1,"Hoyt, Mr. Frederick Maxfield",NaN,38.0,1,0,19943,90.0000,C93,S,1
908,377,1,3,"Landergren, Miss. Aurora Adelia",NaN,22.0,0,0,C 7077,7.2500,NaN,S,1
911,738,1,1,"Lesurer, Mr. Gustave J",NaN,35.0,0,0,PC 17755,512.3292,B101,C,1

In [ ]:
# <다중 조건을 줘서 마스킹>

## dataframe에 대하여 bool에 대한 논리 연산자를 지원하지 않는다.
## (numpy도 동일하게 지원하지 않음)

## dataframe에 대하여 bool에 대한 연산은 비트 연산자를 사용해야 한다.

## or 대신 | 을 사용한다 (또는)

## and 대신 & 을 사용한다 (그리고)

## not 대신에 ~ 을 사용한다 (반전)

In [ ]:
mask1 = df['target'] == 1
mask2 = df['age'] < 20
df.loc[mask1 & mask2]

,passengerid,survived,pclass,name,gender,age,sibsp,parch,ticket,fare,cabin,embarked,target
3,1130,1,2,"Hiltunen, Miss. Marta",NaN,18.0,1,1,250650,13.0000,NaN,S,1
30,1175,1,3,"Touma, Miss. Maria Youssef",NaN,9.0,1,1,2650,15.2458,NaN,C,1
45,701,1,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",NaN,18.0,1,0,PC 17757,227.5250,C62 C64,C,1
55,1095,1,2,"Quick, Miss. Winifred Vera",NaN,8.0,1,1,26360,26.0000,NaN,S,1
72,979,1,3,"Badman, Miss. Emily Louisa",NaN,18.0,0,0,A/4 31416,8.0500,NaN,S,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,85,1,2,"Ilett, Miss. Bertha",NaN,17.0,0,0,SO/C 14885,10.5000,NaN,S,1
867,856,1,3,"Aks, Mrs. Sam (Leah Rosen)",NaN,18.0,0,1,392091,9.3500,NaN,S,1
874,692,1,3,"Karun, Miss. Manca",NaN,4.0,0,1,349256,13.4167,NaN,C,1
889,531,1,2,"Quick, Miss. Phyllis May",NaN,2.0,1,1,26360,26.0000,NaN,S,1
900,227,1,2,"Mellors, Mr. William John",NaN,19.0,0,0,SW/PP 751,10.5000,NaN,S,1

In [ ]:
df.loc[ (df["target"] == 1) & (df["age"] < 20) ]

,passengerid,survived,pclass,name,gender,age,sibsp,parch,ticket,fare,cabin,embarked,target
3,1130,1,2,"Hiltunen, Miss. Marta",NaN,18.0,1,1,250650,13.0000,NaN,S,1
30,1175,1,3,"Touma, Miss. Maria Youssef",NaN,9.0,1,1,2650,15.2458,NaN,C,1
45,701,1,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",NaN,18.0,1,0,PC 17757,227.5250,C62 C64,C,1
55,1095,1,2,"Quick, Miss. Winifred Vera",NaN,8.0,1,1,26360,26.0000,NaN,S,1
72,979,1,3,"Badman, Miss. Emily Louisa",NaN,18.0,0,0,A/4 31416,8.0500,NaN,S,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,85,1,2,"Ilett, Miss. Bertha",NaN,17.0,0,0,SO/C 14885,10.5000,NaN,S,1
867,856,1,3,"Aks, Mrs. Sam (Leah Rosen)",NaN,18.0,0,1,392091,9.3500,NaN,S,1
874,692,1,3,"Karun, Miss. Manca",NaN,4.0,0,1,349256,13.4167,NaN,C,1
889,531,1,2,"Quick, Miss. Phyllis May",NaN,2.0,1,1,26360,26.0000,NaN,S,1
900,227,1,2,"Mellors, Mr. William John",NaN,19.0,0,0,SW/PP 751,10.5000,NaN,S,1

In [ ]:
mask = df["target"] == 1
df.loc[mask]

,passengerid,survived,pclass,name,gender,age,sibsp,parch,ticket,fare,cabin,embarked,target
3,1130,1,2,"Hiltunen, Miss. Marta",NaN,18.0,1,1,250650,13.0000,NaN,S,1
4,461,1,1,"Anderson, Mr. Harry",NaN,48.0,0,0,19952,26.5500,E12,S,1
7,331,1,3,"McCoy, Miss. Agnes",NaN,NaN,2,0,367226,23.2500,NaN,Q,1
11,18,1,2,"Williams, Mr. Charles Eugene",NaN,NaN,0,0,244373,13.0000,NaN,S,1
13,802,1,2,"Collyer, Mrs. Harvey (Charlotte Annie Tate)",NaN,31.0,1,1,C.A. 31921,26.2500,NaN,S,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
905,982,1,3,"Dyker, Mrs. Adolf Fredrik (Anna Elisabeth Judi...",NaN,22.0,1,0,347072,13.9000,NaN,S,1
906,339,1,3,"Dahl, Mr. Karl Edwart",NaN,45.0,0,0,7598,8.0500,NaN,S,1
907,225,1,1,"Hoyt, Mr. Frederick Maxfield",NaN,38.0,1,0,19943,90.0000,C93,S,1
908,377,1,3,"Landergren, Miss. Aurora Adelia",NaN,22.0,0,0,C 7077,7.2500,NaN,S,1
911,738,1,1,"Lesurer, Mr. Gustave J",NaN,35.0,0,0,PC 17755,512.3292,B101,C,1

In [ ]:
df.loc[~mask]

,passengerid,survived,pclass,name,gender,age,sibsp,parch,ticket,fare,cabin,embarked,target
0,494,0,1,"Artagaveytia, Mr. Ramon",NaN,71.0,0,0,PC 17609,49.5042,NaN,C,0
1,462,0,3,"Morley, Mr. William",NaN,34.0,0,0,364506,8.0500,NaN,S,0
2,1286,0,3,"Kink-Heilmann, Mr. Anton",NaN,29.0,3,1,315153,22.0250,NaN,S,0
5,952,0,3,"Dika, Mr. Mirko",NaN,17.0,0,0,349232,7.8958,NaN,S,0
6,130,0,3,"Ekstrom, Mr. Johan",NaN,45.0,0,0,347061,6.9750,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
910,535,0,3,"Cacic, Miss. Marija",NaN,30.0,0,0,315084,8.6625,NaN,S,0
912,518,0,3,"Ryan, Mr. Patrick",NaN,NaN,0,0,371110,24.1500,NaN,Q,0
913,664,0,3,"Coleff, Mr. Peju",NaN,36.0,0,0,349210,7.4958,NaN,S,0
914,109,0,3,"Rekic, Mr. Tido",NaN,38.0,0,0,349249,7.8958,NaN,S,0
915,146,0,2,"Nicholls, Mr. Joseph Charles",NaN,19.0,1,1,C.A. 33112,36.7500,NaN,S,0

## 데이터 형식에 기반한 열선택

In [ ]:
df.select_dtypes('float64')

      age      fare
0    71.0   49.5042
1    34.0    8.0500
2    29.0   22.0250
3    18.0   13.0000
4    48.0   26.5500
..    ...       ...
911  35.0  512.3292
912   NaN   24.1500
913  36.0    7.4958
914  38.0    7.8958
915  19.0   36.7500

[916 rows x 2 columns]

In [ ]:
df.select_dtypes('float64','int64')
## 정수와 실수 모두 선택

      age      fare
0    71.0   49.5042
1    34.0    8.0500
2    29.0   22.0250
3    18.0   13.0000
4    48.0   26.5500
..    ...       ...
911  35.0  512.3292
912   NaN   24.1500
913  36.0    7.4958
914  38.0    7.8958
915  19.0   36.7500

[916 rows x 2 columns]

In [ ]:
df.select_dtypes('number')
## 숫자형 모두 선택

     passengerid  survived  pclass   age  sibsp  parch      fare
0            494         0       1  71.0      0      0   49.5042
1            462         0       3  34.0      0      0    8.0500
2           1286         0       3  29.0      3      1   22.0250
3           1130         1       2  18.0      1      1   13.0000
4            461         1       1  48.0      0      0   26.5500
..           ...       ...     ...   ...    ...    ...       ...
911          738         1       1  35.0      0      0  512.3292
912          518         0       3   NaN      0      0   24.1500
913          664         0       3  36.0      0      0    7.4958
914          109         0       3  38.0      0      0    7.8958
915          146         0       2  19.0      1      1   36.7500

[916 rows x 7 columns]

In [ ]:
  ## 문자열들은 object
  df.select_dtypes('object')

                             name  gender      ticket cabin embarked
0         Artagaveytia, Mr. Ramon    male    PC 17609   NaN        C
1             Morley, Mr. William    male      364506   NaN        S
2        Kink-Heilmann, Mr. Anton    male      315153   NaN        S
3           Hiltunen, Miss. Marta  female      250650   NaN        S
4             Anderson, Mr. Harry    male       19952   E12        S
..                            ...     ...         ...   ...      ...
911        Lesurer, Mr. Gustave J    male    PC 17755  B101        C
912             Ryan, Mr. Patrick    male      371110   NaN        Q
913              Coleff, Mr. Peju    male      349210   NaN        S
914               Rekic, Mr. Tido    male      349249   NaN        S
915  Nicholls, Mr. Joseph Charles    male  C.A. 33112   NaN        S

[916 rows x 5 columns]

In [ ]:
cols = df.select_dtypes('object').columns
df[cols]

                             name  gender      ticket cabin embarked
0         Artagaveytia, Mr. Ramon    male    PC 17609   NaN        C
1             Morley, Mr. William    male      364506   NaN        S
2        Kink-Heilmann, Mr. Anton    male      315153   NaN        S
3           Hiltunen, Miss. Marta  female      250650   NaN        S
4             Anderson, Mr. Harry    male       19952   E12        S
..                            ...     ...         ...   ...      ...
911        Lesurer, Mr. Gustave J    male    PC 17755  B101        C
912             Ryan, Mr. Patrick    male      371110   NaN        Q
913              Coleff, Mr. Peju    male      349210   NaN        S
914               Rekic, Mr. Tido    male      349249   NaN        S
915  Nicholls, Mr. Joseph Charles    male  C.A. 33112   NaN        S

[916 rows x 5 columns]

## 그동안 배운 연산자가 시리즈 간에 지원된다.

In [ ]:
df['sibsp'] + df['parch']
## 추가적인 핏쳐들을 만들어낸다


## 문자열끼리 하면 문장이 연결되겠지

0      0
1      0
2      4
3      2
4      0
      ..
911    0
912    0
913    0
914    0
915    2
Length: 916, dtype: int64

In [ ]:
## 나누었을때 0이 되는 경우를 방지하려고 0.0000001 정도를 더해준다.
## 작은수를 더해주는 것

# df['parch']값이 0이라서
# df['sibsp'] / (df['parch']+0.000001)

## map 메서드

In [ ]:
# male=1, female=0

df['gender'].map({'male':1, 'female':0})
# 나 젠더 지워서 NaN으로 전부 뜰꺼야

# df['gender'].map({'male':1, 'female':0})

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
911   NaN
912   NaN
913   NaN
914   NaN
915   NaN
Name: gender, Length: 916, dtype: float64

In [ ]:
df["gender"].map({"male":1, "female":0})

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
911   NaN
912   NaN
913   NaN
914   NaN
915   NaN
Name: gender, Length: 916, dtype: float64

In [ ]:
df["gender"].map(lambda x : 1 if x == "male" else 0)

0      0
1      0
2      0
3      0
4      0
      ..
911    0
912    0
913    0
914    0
915    0
Name: gender, Length: 916, dtype: int64